
@media screen and (max-width:320px) {
h2 {
    padding-top: 50%;
}
}

@media screen and (max-width:375px) {
h2 {
    padding-top: 50%;
}
}

@media screen and (max-width:414px) {
h2 {
    padding-top: 50%;
}
}

@media screen and (max-width:384px) {
h2 {
    padding-top: 50%;
}






